 .picture {
     width: 100%;
     margin: 0 auto;
     margin-top: 10px;
 }

 .header {
     font-family: "Roboto Slab";
     text-align: center;
 }
 .text {
     display: block;
 }
 .form {
     width: 250px;
     height: 350px;
     padding: 15px;
     margin-top: 50px; 
     display: block;
 }

 h1 {
    font-family: "Roboto Slab";
    margin-bottom: 2px;
}
p {
    font-family: sans-serif;
}
 .section{
     display: block;
     text-align: left;
 }
label {
    display: block;
    font-family: "Roboto Slab";
    margin-top: 5px;
}
input {
    border: 1px solid black;
    padding: 20px;
    width: 250px;
    margin-bottom: 10px;
    margin-top: 5px;
    
}
textarea {
    border: 1px solid black;
    padding: 20px;
    margin-top: 10px;
    width: 250px;
}

#submit {
    border: none;
    background-color: rgb(238, 238, 238);
    font-size: 16px;
    margin: 0 auto;
    width: 290px;
    padding: 20px;
    margin-top: 10px; 
}

select {
    width: 290px;
    padding: 10px;
    border-radius: 0px;
    border: 6px solid transparent;
    background-color: #48186C;
    color: white;
    font-size: 16px;
    margin-top: 5px;
}


.footlogo {
    width: 170px;
    height: auto;
    position: relative;
    bottom: 20px;
    left: 70px;
}
.quote {
    margin-bottom:-10px;

}
.ernest {
    font-style: italic;
    font-size: 13px;
    margin-top: -10px;
    margin-left: 10px;
    font-family: sans-serif;
}
.footer {
    background-color: lightgray;
    width: 100%;
    height: 120px;
    padding-top: 30px;
    position: absolute;
    top: 1900px;
    left: 0;
}
#logo {
    width: 180px;
    height: auto;
    margin: 0;
    position: relative;
    left: 50px;
    top: -50px;
}
.socialicon {
    position: relative;
    top: -120px;
    left: 10px;
}
@media screen and (min-width: 500px) {
    #logo {
        left: 200px;
    }
    .footer {
        top: 1850px;
    }
}
@media screen and (min-width: 700px) {
    #logo {
        left: 400px;
    }
    .footer {
        top: 1900px;
    }
    #logo {
        left: 350px;
    }
}
@media screen and (min-width: 850px) {
    .footer {
        top: 2000px;
    }
    #logo {
        left: 500px;
    }
}
@media screen and (min-width: 950px){
    .nav {
        width: 101%;
        margin: 0 auto;
        z-index: 5;
    }

    .img {
        width: 100%;
        position: absolute;
        margin-top: -100px;
    }
    .logo {
        margin-left: 0px;
    }
    #logo {
        left: 600px;
    }
    .picture {
        width: 100%;
        z-index: 0;
    }
    .container {
        position: absolute;
        top: 400px;
        left: 100px;
    }
    .text {
        width: 350px;
        float: left;
    }
    /* .form {
        float: right;
    }   */

    .footlogo {
        left: 600px;
        width: 200px;
    }
    .socialicon {
        bottom: 100px;
        left: 50px;
    }
        
        @media screen and (min-width: 1000px) {
            .container {
                top: 425px;
            }
            .form {
                top: 425px;
            }
            #logo {
                left: 650px;
            }
        }
        
        @media screen and (min-width: 1050px) {
            .container {
                top: 450px;
            }
            #logo {
                left: 700px;
            }
        }
        
        @media screen and (min-width: 1100px) {
            .container {
                top: 475px;
            }
            .form {
                top: 475px;
                left: 650px;
            }
            #logo {
                left: 750px;
            }
        }
        
        @media screen and (min-width: 1150px){
            .container {
                top: 500px;
            }
            .form {
                top: 500px;
            }
            #logo {
                left: 800px;
            }
            .footer {
                top: 2050px;
            }
        }
        @media screen and (min-width: 1200px){
            .container {
                top: 525px;
            }
            .form {
                top: 525px;
            }
            #logo {
                left: 850px;
            }
            .footer {
                top: 2060px;
            }
        }
        
        
        @media screen and (min-width: 1250px){
            .container {
                top: 550px;
            }
            .form {
                top: 550px;
            }
            .footer {
                top: 2100px;
            }
            #logo {
                left: 900px;
            }
        }
        
        @media screen and (min-width: 1300px){
            .container {
                top: 575px;
            }
            .form{
                top: 575px;
            }
            #logo {
                left: 950px;
            }

        }
        @media screen and (min-width: 1350px){
            .container {
                top: 600px;
            }
            .form {
                top: 600px;
 
            }
            .footer {
                top: 2200px;
            }
            #logo {
                left: 1000px;
            }
        }
        
        @media screen and (min-width: 1400px){
            .container {
                top: 625px;
            }
            .form {
                top: 625px;
            }
            .footer {
                top: 2250px;
            }
            #logo {
                left: 1050px;
            }
        }

        @media screen and (min-width: 1450px){
            .container {
                top: 650px;
            }
            .form {
                top: 650px;
            }
            .footer {
                top: 2300px;
            }
            #logo {
                left: 1100px;
            }
        }
        @media screen and (min-width: 1500px) {
            .container {
                top: 675px;
            }
            .form {
                top: 675px;
            }
            .footer {
                top: 2350px;
            }
            #logo {
                left: 1150px;
            }
        }
        @media screen and (min-width: 1550px) {
            .container {
                top: 700px;
            }
            .form {
                top: 700px;
            }
            .footer {
                top: 2400px;
            }
            #logo {
                left: 1200px;
            }
        }

        @media screen and (min-height: 1000px) {
            .footer {
                top: 2100px;
            }
        }