.footer {
    background-color: lightgray;
    width: 100%;
    height: 120px;
    padding-top: 30px;
    position: absolute;
    top: 650px;
    left: 0;
}
#logo {
    width: 180px;
    height: auto;
    margin: 0;
    position: relative;
    left: 35px;
    top: -50px;
}
.socialicon {
    position: relative;
    top: -120px;
    left: 10px;
}
h1 {
    font-family: "Roboto Slab";
    color: #48186C;
    font-size: 40px;
}
p {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 20px;
}
a {
    font-family: "Roboto Slab";
    color: #48186C;
    font-size: 30px;
}
#back {
    font-size: 50px;
}