
.industry {
    text-align: center;
    height: 600px;
    margin-top: 10px;
}
.title {
    border-bottom: 1px solid black;
    width: 100%;
    height: 50px;
}
p {
    font-family: sans-serif;
}
.industrypic {
    width: 350px;
    margin: 10px;
    height: auto;
}
.industrytitle {
    font-family: "Roboto Slab";
    font-size: 30px;
    text-align: left;
    margin-left: 15px;

}
.industrycopy {
    font-family: sans-serif;
    text-align: center;
    font-weight: lighter;
    font-size: 15px;
}

.links {
    text-align: center;
}
.pagelink {
    display: block;
    font-family: sans-serif;
    font-size: 18px;
    padding: 5px;
    margin-left: 25px;
    text-align: left;
    color: #48186C;
}
.picture {
    width: 350px;
    height: auto;
    margin: 0 auto;
}
.img {
    text-align: center;
    margin-top: 10px;
}

.footer {
    background-color: lightgray;
    width: 100%;
    height: 120px;
    padding-top: 30px;
    position: absolute;
    top: 3550px;
    left: 0;
}
#logo {
    width: 180px;
    height: auto;
    margin: 0;
    position: relative;
    left: 50px;
    top: -50px;
}
.socialicon {
    position: relative;
    top: -120px;
    left: 10px;
}
@media screen and (min-width: 550px) {
    #logo {
        left: 220px;
    }
}
@media screen and (min-width: 700px) {
    #logo {
        left: 400px;
    }
}

@media screen and (min-width: 950px){
    .nav {
        width: 100.7%;
        margin: 0 auto;
    }
    .logo {
        margin-left: 0px;
    }

    .img {
        width: 100%;
        position: absolute;
        top: -100px;
        text-align: center;
    }
    .picture {
        width: 100%;
        z-index: 0;
        margin: 0 auto;   
    }
    .industrypic {
        float: right;
    }
    .links {
        margin-top: 50px;
    }
    p {
        margin-top: 50px;
    }
    .container {
        position: absolute;
        top: 250px;
    }
    .industrycopy {
        text-align: left;
        font-size: 20px;
        margin-top: 0px;
    }
    .footer {
        top: 1900px;
        left: -8px;
    }

    .paragraph {
        width: 500px;
        height: 250px;
        float: right;
        margin-top: -200px;
        font-size: 20px;
        font-weight: lighter;
    }
    .industry {
        height: 300px;
    }
#logo {
    left: 500px;
}
}


@media screen and (min-width: 1000px) {
    .container {
        top: 350px;
    }
    #logo {
        left: 650px;
    }
}

@media screen and (min-width: 1050px) {
    .container {
        top: 375px;
    }
    #logo {
        left: 700px;
    }
}

@media screen and (min-width: 1100px) {
    .container {
        top: 380px;
    }
    #logo {
        left: 750px;
    }
}

@media screen and (min-width: 1150px){
    .container {
        top: 410px;
    }
    #logo {
        left: 800px;
    }
}
@media screen and (min-width: 1200px){
    .container {
        top: 425px;
    }
    #logo {
        left: 850px;
    }
}


@media screen and (min-width: 1250px){
    .container {
        top: 425px;
    }
    #logo {
        left: 900px;
    }
}

@media screen and (min-width: 1300px){
    .container {
        top: 480px;
    }
    #logo {
        left: 950px;
    }
}
@media screen and (min-width: 1350px){
    .container {
        top: 480px;
    }
    #logo {
        left: 1000px;
    }
}

@media screen and (min-width: 1400px){
    .container {
        top: 500px;
    }
    #logo {
        left: 10500px;
    }
}
@media screen and (min-width: 1500px) {
    .container {
        top: 560px;
    }
    #logo {
        left: 1100px;
    }
}
@media screen and (min-width: 1550px) {
    .container {
        top: 600px;
    }
    #logo {
        left: 1150px;
    }
}
@media screen and (min-height: 950px) {
    .picture {
        width: 100%;
    }
    .industrycopy{
        font-size: 20px;
    }
    .footer {
        top: 3650px;
    }
}
@media screen and (min-height: 1300px){
    .footer {
        top: 1900px;
    }
    .socialicon {
        left: 30px;
    }
}